body {
  margin: 0;
  padding: 0;
  height:1150px;
  background: #F5F5F5;/*#eae9e9 url("img/bg.png") repeat scroll 0% 0%;*/
}

h1 {
  text-align: center;
  color: black;
  font-family: Signarita Anne;
  font-size: 200px;
  font-weight: lighter;
  margin-top:-30px;
}

@font-face {
  font-family: "Signarita Anne";
  src: url('signarita_anne/SignaritaAnneDemo.ttf');
}

.img_bd {
  height:160px;
  width:175px;
  /*background-color: yellow;*/
  margin-left:175px;
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
  background-image: url("img/images2.jpeg");
}

#bd {
  height: 160px;
  width: 350px;
  border-radius:45px;
  background-color: #2DC800;
  margin-left: 90px;
  margin-top:-140px;
  float: left;
  border: 5px solid black;
}

#bd:hover {
  border: 5px solid #B3FF99;
}

#bd p {
  margin-left:67px;
  margin-top:-95px;
  color:black;
  text-transform: uppercase;
  font-weight: bolder;
  font-size:30px;
}

#bd hr {
  margin-top: -128px;
}

#bd_js {
  height: 170px;
  width:360px;
  margin-top:80px;
  color: white;
  font-weight: bold;
  position: absolute;
  top:310px;
  left:97px;
  text-align: center;
}

.img_manga {
  height:160px;
  width:175px;
  /*background-color: green;*/
  margin-left: 175px;
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
  background-image: url("img/luffy2.jpeg");
}

#manga {
  height: 160px;
  width: 350px;
  border-radius:45px;
  background-color: #62A9FF;
  margin-top:20px;
  margin-left:56px;
  float:left;
  border:5px solid black;
}

#manga:hover {
  border: 5px solid #D0E6FF;
}

#manga p {
  margin-left:34px;
  margin-top:-92px;
  color:black;
  text-transform: uppercase;
  font-weight: bolder;
  font-size:25px;
}

#manga_js {
  height: 170px;
  width:360px;
  /*background-color: black;*/
  margin-top:-300px;
  color: white;
  font-weight: bold;
  position: absolute;
  top:500px;
  left:511px;
  text-align: center;
}

.img_roman {
  height:160px;
  width:175px;
  /*background-color: green;*/
  margin-left: 175px;
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
  background-image: url("img/hp4.jpeg");
}

#roman {
  height: 160px;
  width: 350px;
  border-radius:45px;
  float: left;
  background-color: #DC143C;
  margin-top: -140px;
  margin-left: 55px;
  border: 5px solid black;
}

#roman:hover {
  border: 5px solid #FFC8F2;
}

#roman p {
  margin-left:34px;
  margin-top:-92px;
  color:black;
  text-transform: uppercase;
  font-weight: bolder;
  font-size:25px;
}

#roman_js {
  /*background-color: black;*/
  height: 170px;
  width:360px;
  margin-top:80px;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 310px;
  left:925px;
}

.roman hr {
  margin-top: -120px;
}



/*Page Roman*/

.bandeau_roman {
  width:100%;
  height:100px;
  background-color: #DC143C;
  margin-top:-170px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.bandeau_roman p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size:35px;
  margin-top: 30px;
}

.deco {
  border: 2px solid black;
  float: left;
  clear:both;
  width:300px;
  height:200px;
  margin-left:114px;
  margin-top: 50px;
}

.deco:hover {
  border: 3px solid #DC143C;
}

.deco img {
  width:300px;
  height:200px;
}

#eragon p {
  position: absolute;
  top:360px;
  left:184px;
  font-weight: bold;
  color: white;
  font-size:40px;
  text-shadow: black 2px 2px, black -2px 2px, black -2px -2px, black 1px -2px;
}

#appar {
  background-color: #DC143C;;
  width:800px;
  height:254px;
  float: left;
  margin-left:470px;
  margin-top: 20px;
  position:fixed;
  border-radius: 25px;
  border: 3px solid black;
}

#appar span {
  margin-left: 14px;
  margin-top: 15px;
  position: absolute;
  font-size:13px;
}

#appar p {
  text-align: center;
  font-size: 13px;
}

#date p {

}

#summary {
  border:1px solid black;
  width:770px;
  height: 130px;
  margin-left:15px;
  margin-top:10px;
  border-radius: 25px;
  background-color: white
}

.date_book {
  border:1px solid black;
  width:770px;
  margin-left:15px;
  margin-top:11px;
  border-radius: 25px;
  background-color: white
}

#book {
  height: 60px;
}

#date {
  height:20px;
  /*padding: 0;*/
}

#date span {
  margin-top: 2px;
  font-weight: bold;
}

#date p {
  margin-top: 2px;
}
/*Page manga*/
.bandeau_manga {
  width:100%;
  height:100px;
  background-color: #62A9FF;
  margin-top:-170px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.bandeau_manga p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size:35px;
  margin-top: 30px;
}


/*Page BD*/
.bandeau_bd {
  width:100%;
  height:100px;
  background-color: #2DC800;
  margin-top:-170px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.bandeau_bd p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size:35px;
  margin-top: 30px;
}
